
Source Code/admin/clinic_management_API/Clinic_web_app/obj/project.nuget.cache
Source Code/admin/clinic_management_API/Clinic_web_app/obj/project.assets.json
Source Code/admin/clinic_management_API/Clinic_web_app/obj/Debug/net5.0/ref/Clinic_web_app.dll
Source Code/admin/clinic_management_API/Clinic_web_app/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
Source Code/admin/clinic_management_API/Clinic_web_app/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Source Code/admin/clinic_management_API/Clinic_web_app/obj/Debug/net5.0/Razor/Views/Shared/_SearchPartialView.cshtml.g.cs
Source Code/admin/clinic_management_API/Clinic_web_app/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
Source Code/admin/clinic_management_API/Clinic_web_app/bin/Debug/net5.0/Clinic_web_app.dll
Source Code/admin/clinic_management_API/.vs/clinic_management_API/config/applicationhost.config
Source Code/admin/clinic_management_API/.vs/clinic_management_API/DesignTimeBuild/.dtbcache.v2
Source Code/admin/clinic_management_API/.vs/clinic_management_API/v16/.suo
Source Code/admin/clinic_management_API/.vs/clinic_management_API/v16/.suo
Document/ClinicManagement.sql
fruitkha-1.0.0/shop.html
Source Code/admin/clinic_management_API/.vs/clinic_management_API/DesignTimeBuild/.dtbcache.v2
Source Code/admin/clinic_management_API/.vs/clinic_management_API/v16/.suo
Source Code/admin/clinic_management_API/Clinic_web_app/appsettings.json
Source Code/admin/clinic_management_API/Clinic_web_app/bin/Debug/net5.0/appsettings.json
Source Code/admin/clinic_management_API/Clinic_web_app/Clinic_web_app.csproj.user
Source Code/admin/clinic_management_API/Clinic_web_app/Clinic_web_app.csproj
Source Code/admin/clinic_management_API/Clinic_web_app/appsettings.json
Source Code/admin/clinic_management_API/Clinic_web_app/bin/Debug/net5.0/appsettings.json
