
Source Code/admin/clinic_management_API/.vs/clinic_management_API/DesignTimeBuild/.dtbcache.v2
Source Code/admin/clinic_management_API/.vs/clinic_management_API/v16/.suo
Source Code/admin/clinic_management_API/clinic_management_API/obj/Debug/net5.0/clinic_management_API.csproj.AssemblyReference.cache
