
@{
    ViewData["Title"] = "EquipmentForMedicine";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>EquipmentForMedicine</h1>
<section className="content">
    <div className="container-fluid">
        <div className="row">
            <table className="table table-hover">
                <thead className="thead-dark">
                    <tr>
                        <td>Equipment Id</td>
                        <td>Image</td>
                        <td>Type</td>
                        <td>Equipment Name</td>
                        <td>Brand Name</td>
                        <td>Price</td>
                        <td>Quantity</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

